@use "../base/index" as index;

.navbar {
  background-color: index.$color-bg;
  padding: index.$padding-base 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: index.$color-text;

    h1, h2 {
      margin: 0;
      line-height: 1.1;
    }
  }

  .nav-link {
    color: index.$color-text;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: darkred;
    }
  }
}
