.my-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  .carousel-item {
    transition: transform 1.5s ease-in-out;

    img {
      width: 100%;
      max-height: 180px;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
  }
}
